.map-backdrop {
  z-index: 25;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms linear;
}
.modal-map {
  z-index: 30;
  max-width: 450px;
  width: 90%;
  height: auto;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $secondary-bgc;
  box-shadow: 0 5px 5px #c7133db0;
  border-radius: 4px;
  @media screen and (min-width: 768px) {
    width: 450px;
    height: 600px;
  }
  @media screen and (min-width: 1280px) {
    width: 550px;
    height: 600px;
  }
}
.modal-map__close-button {
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: $primary-accent-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.modal-map-close__btn-icon {
  width: 11px;
  height: 11px;
  stroke: $secondary-accent-color;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.map-frame {
  width: 100%;
  height: 100%;
  border: none;
}
