<section id="about-hook" class="about">
  <div class="container">
    <p class="about__label">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="about__set">
      <picture class="about__image-сow">
        <source
          media="(min-width: 1280px)"
          srcset="images/about/desktop-cow.png 1x, images/about/desktop-cow@2x.png 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="images/about/tablet-cow.png 1x, images/about/tablet-cow@2x.png 2x"
        />
        <img
          class="about__image"
          src="images/about/mobile-cow.png"
          srcset="images/about/mobile-cow@2x.png 2x"
          alt="cow and milk"
        />
      </picture>
      <div class="about__text-set">
        <p class="about__description-begin">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__description">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="about__description-end">Aliquam erat volutpat. Aenean accumsan.</p>
        <button class="btn btn--main about__button" type="button" data-modal-about-open>
          Read more
          <svg class="about__btn-icon">
            <use href="images/svg/icons.svg#icon-btn-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
