<section id="contacts-hook" class="contacts">
  <div class="contacts-container container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__list-card">
        <p class="contacts__list-button">CAFE</p>
        <div class="location">
          <p class="location__city-name">Chicago</p>
          <p class="location__city-name-discription">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="work">
          <li class="work__items">
            <p class="work__day">Monday - Friday</p>
            <p class="work__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="work__items">
            <p class="work__day">Saturday - Sunday</p>
            <p class="work__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts-list">
          <li class="contacts-list__item">
            <a class="contacts-list__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contacts-list__item">
            <a class="contacts-list__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts__list-card">
        <p class="contacts__list-button truck">FOOD TRUCK</p>
        <div class="location">
          <p class="location__city-name">Los Angeles</p>
          <p class="location__city-name-discription">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="work">
          <li class="work__items">
            <p class="work__day">Monday - Friday</p>
            <p class="work__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="work__items">
            <p class="work__day">Saturday - Sunday</p>
            <p class="work__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts-list">
          <li class="contacts-list__item">
            <a class="contacts-list__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contacts-list__item">
            <a class="contacts-list__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts__list-card">
        <p class="contacts__list-button">CAFE</p>
        <div class="location">
          <p class="location__city-name">New York</p>
          <p class="location__city-name-discription">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="work">
          <li class="work__items">
            <p class="work__day">Monday - Friday</p>
            <p class="work__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="work__items">
            <p class="work__day">Saturday - Sunday</p>
            <p class="work__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="contacts-list">
          <li class="contacts-list__item">
            <a class="contacts-list__link" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="contacts-list__item">
            <a class="contacts-list__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts-button-set">
      <li class="contacts-button-set__items">
        <button type="button" class="location-btn contacts__but btn--secondary" data-modal-map-open>
          Our Locations >
        </button>
      </li>
      <li class="contacts-button-set__items">
        <button type="button" class="contacts__but btn btn--main" data-modal-open>
          Franchise >
        </button>
      </li>
    </ul>
  </div>
</section>
