<header class="page-header">
  <div class="container header__container">
    <a href="#" class="page__logo animate__animated animate__backInLeft" aria-label="logo">
      <img
        class="logo__image"
        srcset="images/hero-header/logo@1x.png 1x, images/hero-header/logo@2x.png 2x"
        src="images/hero-header/logo@1x.png"
        alt="Logo"
        width="199"
        height="50"
      />
    </a>
    <div class="header__backdrop"></div>
    <div class="menu">     
      <nav class="page__nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="#" class="nav__link nav__link--current">Home</a>
          </li>
          <li class="nav__item"><a href="#about-hook" class="nav__link">About us</a></li>
          <li class="nav__item"><a href="#about-hook" class="nav__link">How it's made?</a></li>
          <li class="nav__item"><a href="#product-hook" class="nav__link">Our products</a></li>
          <li class="nav__item"><a href="#contacts-hook" class="nav__link">Contact</a></li>
        </ul>
      </nav>      
    </div>
    <div class="burger">
      <button class="burger__btn" type="button" aria-label="clickk to open mobile menu">
        <svg class="burger__icon" width="20" height="12">
          <use href="images/svg/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
    <button
      class="btn btn--main header__btn header__btn--shown header__btn--hidden"
      type="button"
      aria-label="click me to open modal window"
    >
      Buy now
      <svg class="header__btn__icon" width="4" height="8">
        <use href="images/svg/icons.svg#icon-btn-arrow"></use>
      </svg>
    </button>
    <div class="mobile-menu">
      <button class="btn btn--main header__btn menu__btn menu__btn--hidden" type="button"
        aria-label="click me to open modal window">
        Buy now
        <svg class="header__btn__icon" width="4" height="8">
          <use href="images/svg/icons.svg#icon-btn-arrow"></use>
        </svg>
      </button>
      <nav class="mobile-nav">
        <ul class="mobile-nav__list">
          <li class="mobile-nav__item">
            <a href="#" class="mobile-nav__link nav__link--current">Home</a>
          </li>
          <li class="mobile-nav__item"><a href="#about-hook" class="mobile-nav__link">About us</a></li>
          <li class="mobile-nav__item"><a href="#about-hook" class="mobile-nav__link">How it's made?</a></li>
          <li class="mobile-nav__item"><a href="#product-hook" class="mobile-nav__link">Our products</a></li>
          <li class="mobile-nav__item"><a href="#contacts-hook" class="mobile-nav__link">Contact</a></li>
        </ul>
      </nav>
      <button class="close__btn" type="button" aria-label="click to close mobile menu">
        <svg class="close__icon" width="14" height="14">
          <use href="images/svg/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
