<section class="section hero">
  <div class="container hero__container">
    <div class="hero__wrapper">
      <div class="hero__cell hero__cell--left">
        <h1 class="page__title">
          ice cream made with <span class="page__title page__title--big">passion</span>
        </h1>
        <ul class="hero__btns">
          <li class="hero__btns__item">
            <a class="btn btn--secondary hero__btn hero__btn--secondary" href="#product-hook"
              >Products</a
            >
          </li>
          <li class="hero__btns__item">
            <a class="btn btn--main hero__btn hero__btn--main" href="#about-hook">How it's made?</a>
          </li>
        </ul>
      </div>
      <div class="hero__cell hero__cell--right">
        <ul class="hero__list">
          <li class="hero__item">
            <p class="hero__count">16</p>
            <p class="hero__text">cafes</p>
          </li>
          <li class="hero__item">
            <p class="hero__count">23</p>
            <p class="hero__text">food trucks</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="hero__label">
      <p class="hero__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <a class="hero__link hero__thumb" href="#about-hook" aria-label="click me to read more">
        <img
          class="hero__link-icon"
          srcset="
            /images/hero-header/hero-arrow-right@1x.png 1x,
            /images/hero-header/hero-arrow-right@2x.png 2x
          "
          src="/images/hero-header/hero-arrow-right@1x.png"
          alt="arrow"
          width="26"
          height="26"
        />
      </a>
    </div>
    <div class="hero__round animate__animated animate__fadeIn"></div>
    <div class="hero__thumb hero__icecream animate__animated animate__slideInUp"></div>
    <div class="hero__thumb hero__milk animate__animated animate__fadeInLeft"></div>
    <div class="hero__thumb hero__girl animate__animated animate__fadeInRight"></div>
  </div>
</section>
