<div class="map-backdrop is-hidden" data-modal-map>
  <div class="modal-map">
    <button type="button" class="modal-map__close-button" data-modal-map-close>
      <svg class="modal-map-close__btn-icon">
        <use href="images/svg/icons.svg#icon-close"></use>
      </svg>
    </button>
    <iframe
      class="map-frame"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d251346.75047889567!2d-118.3837297701679!3d34.13491501599553!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z0JvQvtGBLdCQ0L3QtNC20LXQu9C10YEsINCa0LDQu9C40YTQvtGA0L3QuNGPLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1619461153240!5m2!1sru!2sua"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
</div>
