<div class="backdrop-about is-hidden-about" data-modal-about>
  <div class="modal-about">
    <button type="button" class="modal-about__close-btn" data-modal-about-close>
      <svg width="15px" height="15px" class="modal-about__btn-icon">
        <use href="images/svg/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-about__main-section">
      <h2 class="modal-about__title">how it’s made?</h2>
      <p class="modal-about__text-begin">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <ul class="modal-about__text-set">
        <li class="modal-about__text-item">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla. Fusce ut velit
          laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget,
          egestas eros. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend
          erat at justo fringilla.
        </li>
        <li class="modal-about__text-item">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt. Curabitur lacinia enim at ex blandit, vel
          pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod
          nisl suscipit ligula volutpat, a feugiat urna maximus.
        </li>
        <li class="modal-about__text-item">
          Aliquam erat volutpat. Aenean accumsan. Aliquam erat volutpat.
        </li>
      </ul>
    </div>
    <div class="modal-about__secondary-section">
      <div class="modal-about__label-set">
        <p class="modal-about__main-label">100% natural</p>
        <p class="modal-about__secondary-label">products</p>
      </div>
      <picture class="modal-about__picture">
        <source
          media="(min-width: 768px)"
          srcset="images/about/tablet-cow.png 1x, images/about/tablet-cow@2x.png 2x"
        />
        <img
          class="modal-about__image-cow"
          src="images/about/mobile-cow.png"
          srcset="images/about/mobile-cow@2x.png 2x"
          alt="cow and milk"
        />
      </picture>
    </div>
  </div>
</div>
