<section id="product-hook" class="products">
  <div class="container">
    <p class="prodacts-label">100% natural</p>
    <h2 class="products-title">products</h2>
    <ul class="products-set">
      <li class="products__item-1 list">
        <h3 class="prodacts__name">ice cream</h3>
        <p class="prodacts__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__button"></button>
      </li>
      <li class="products__item-2 list">
        <h3 class="prodacts__name">ice coffee</h3>
        <p class="prodacts__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__button"></button>
      </li>
      <li class="products__item-3 list">
        <h3 class="prodacts__name">milkshakes</h3>
        <p class="prodacts__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__button"></button>
      </li>
    </ul>
  </div>
</section>
