<section class="reviews">
  <div class="container">
    <h2 class="visually-hidden">Отзывы покупателей</h2>
    <div class="reviews__list">
      <div class="review__card-wrapper">
        <div class="reviews__item">
          <img class="reviews__img" src="images/reviews/1.jpg" alt="" width="85" />
          <div class="reviews__text-wrapper">
            <div class="reviews__underline"></div>

            <p class="reviews__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <b class="reviews__address">Emily, Los Angeles</b>
        </div>
      </div>
      <div class="review__card-wrapper">
        <div class="reviews__item">
          <img class="reviews__img" src="images/reviews/2.jpg" alt="" width="85" />
          <div class="reviews__text-wrapper">
            <div class="reviews__underline"></div>

            <p class="reviews__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <b class="reviews__address">Angel, Chicago</b>
        </div>
      </div>
      <div class="review__card-wrapper">
        <div class="reviews__item">
          <img class="reviews__img" src="images/reviews/3.jpg" alt="" width="85" />
          <div class="reviews__text-wrapper">
            <div class="reviews__underline"></div>

            <p class="reviews__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <b class="reviews__address">Dora, New York</b>
        </div>
      </div>
    </div>
  </div>
</section>
