.gallery {
  @media screen and (max-width: 767px) {
    background-image: linear-gradient(
      to bottom,
      $secondary-bgc 44.5%,
      $primary-bgc 44.5%,
      $primary-bgc 100%
    );
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
      to bottom,
      $secondary-bgc 44.8%,
      $primary-bgc 44.8%,
      $primary-bgc 100%
    );
  }

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(
      to bottom,
      $secondary-bgc 43%,
      $primary-bgc 43%,
      $primary-bgc 100%
    );
  }
}
.gallery {
  padding-top: 46px;
  padding-bottom: 40px;
  @media screen and (max-width: 767px) {
    padding-left: 0;
    padding-right: 0;
  }
  @media screen and (min-width: 768px) {
    padding-top: 70px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 70px;
    padding-bottom: 60px;
  }
}
.gallery__container {
  max-width: 480px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}

.gallery__descktop {
  @media screen and (max-width: 1279px) {
    display: none;
  }
  width: 1010px;
  height: 430px;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.gallery__mobile {
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.gallery__thumb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.gallery__image {
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 1280px) {
    border-radius: 21px;
    transition: transform 250ms ease-out, box-shadow 250ms ease-out;
    &:hover {
      transform: scale(1.2);
      box-shadow: 0px 0px 10px 2px $secondary-accent-color;
    }
  }

  &--bottom {
    margin-bottom: 6px;
  }
  &--top-two {
    margin-top: 43px;
  }
  &--top-four {
    margin-top: 49px;
  }
  &--top-five {
    margin-top: -55px;
  }
}
